<h1> Your Teams</h1>
<br>
<br>
<%= button_to 'Logout', 'logout'  %>
<br>
<br>
<%= button_to "Create a new team", "/teams/new", method: "get" %>
<br>
<br>
<% @team.each do |x| %>
<%= button_to "#{x.team_name}", "/teams/#{x[:id]}", method: "get" %>
<%= button_to 'Delete Team', "/teams/#{x[:id]}", method: "delete" %>
<% end%>