<h1> CURRENT TESTING PAGE</h1>

<br><%= button_to 'Log in with Google!', "/auth/google_oauth2", method: "post" %><br>

<%= button_to 'Login', '/login', method: "get" %><br>
<%= button_to 'Signup', '/signup', method: "get" %><br>
